<h1>Activation de votre compte sur OpenBlog</h1>
<h3>Bonjour {{ user.nickname }},</h3>
<p>Pour activer votre compte sur OpenBlog cliquez <a href="{{ absolute_url(path('app_verify_user', {token:token})) }}">ici</a>.</p>
<p>Merci</p>