{% extends 'base.html.twig' %}

{% block title %}Rénitialiser mon mot de passe{% endblock %}

{% block body %}
    <section>
        <h1>Rénitialiser mon mot de passe</h1>
        {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email, {
                label: 'Email'
            }) }}
            <button type="submit">Envoyer</button>
        {{ form_end(requestPassForm) }}
    </section>
{% endblock %}
