{% extends 'base.html.twig' %}

{% block title %}Rénitialiser mon mot de passe{% endblock %}

{% block body %}
    <section>
        <h1>Rénitialiser mon mot de passe</h1>
        {{ form_start(passForm) }}
            {{ form_row(passForm.password, {
                label: 'Mot de passe'
            }) }}
            <button type="submit">Modifier</button>
        {{ form_end(passForm) }}
    </section>
{% endblock %}