{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Hello {{ app.user.userIdentifier }}</h1>
    {% else %}
        <h1>Hello {{ user }}</h1>
    {% endif %}
{% endblock %}
